
.main-nav ul {
  display: none;
  background-color: grey;
  position: absolute;
  list-style: none;
  padding: 0;
  top: 50px;
}
.main-nav:hover ul {
  display:block;
}
.main-nav:hover li {
  display: block;
}
.main-nav li {
  padding: 1em 2em 1em 0;
  font-size: 1.5em;
  outline:  solid 2px red;
}
.subheading {
  padding-left: 2%;
  position: absolute;
  font-size: .8em;
  bottom: 5%;
  width: 70%;
  height: auto;
}
header > img {
  width: 70%;
  height: 0 auto;
}
article {
  font-size: .8em;
}
#paw {
  position: absolute;
  width: 50px;
  height: 0 auto;
  top: 0;
  left: 0;
  outline: solid 2px blue;
}
#map-wrapper #map {
  bottom: 5px;
  opacity: .7;
  width: 110%;
  height: 200px;
  bottom: 0;
  outline: solid 2px red;
}
#question-section {
  position: relative;
  width: auto;
  bottom: 10%;
  padding-left: 2%;
}
#question-box {
  font-size: 1em;
  width: 80%;
  height: 140%;
  outline:  solid 2px red;
  position: absolute;
  border: none;
  overflow-y:auto;
  background-color:#eee;
  bottom: 0;
  padding: 5px;
}
#question-box::-webkit-scrollbar-thumb {
    background-color: #000;
}
#question-box::-webkit-scrollbar {
    width: 14px;
    height: 6px;
}
#question-box::-webkit-scrollbar-button:start:decrement,
#question-box::-webkit-scrollbar-button:end:increment {
  height: 30px;
  display: block;
  background-color:#999;
}
#question-box::-webkit-scrollbar-track-piece {
  background-color: #666;
  -webkit-border-radius: 0px;
}

#question-box::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #000;
  -webkit-border-radius: 6px;
}


@media only screen and (min-width: 440px) {
  h1 {
    font-size: 2em;
    }
  .main-nav ul {
    margin-top: 5%;
  }
  .main-nav li {
    padding: .1em 6em .3em 2em;
    font-size: 1.2em;
    outline:  solid 2px red;
  }
  .subheading {
    font-size: 1.2em;
    bottom: 5%;
  }
  #burger {
    padding: 0 3% 25% 35%;
  }
  #question-box {
    font-size: 1em;
    width: 80%;
    height: 140%;
    outline:  solid 2px red;
    position: absolute;
    border: none;
    overflow-y:auto;
    background-color:#eee;
    bottom: 0;
    padding: 5px;
  }
}

@media only screen and (min-width: 529px) {
  #paw {
    width: 70px;
    height: 0 auto;
    top: 0;
    left: 0;
    outline: solid 2px blue;
  }
  #map-wrapper #map {
    bottom: 5px;
    opacity: .7;
    width: 110%;
    height: 250px;
    bottom: 0;
    outline: solid 2px red;
  }
}

@media only screen and (min-width: 641px) {
  h1 {
    font-size: 2.5em;
  }
  #burger {
    display: none;
  }
  .main-nav ul {
    display: block;
    position: absolute;
    padding-top: 5px
  }
  .main-nav li {
    display: inline;
    padding: 0 3px;
    font-size: 1.5em;
  }
  .subheading {
    font-size: 1.25em;
    bottom: 20%;
  }
  #question-box {
    font-size: 1em;
    width: 80%;
    height: 180%;
    outline:  solid 2px red;
    position: absolute;
    border: none;
    overflow-y:auto;
    background-color:#eee;
    bottom: 0;
    padding: 5px;
  }
  #map-wrapper #map {
    bottom: 5px;
    opacity: .7;
    width: 110%;
    height: 350px;
    bottom: 0;
    outline: solid 2px red;
  }
  .subheading {
    font-size: 1.25em;
    bottom: 5%;
  }
}

@media only screen and (min-width: 743px) {
  #question-box {
    width: 80%;
    height: 250%;
  }
  .title {
    padding-bottom: 0;
  }
  .subheading {
    font-size: 1.25em;
    bottom: 5%;
  }
  .site-header{
    height: 30px;
  }
}
