header > img {
  width: 70%;
  height: 0 auto;
}
article {
  font-size: .8em;
  padding-left: 5%;
  padding-right: 10%;
}
#paw {
  position: absolute;
  width: 50px;
  height: 0 auto;
  top: 0;
  left: 0;
}
#map-wrapper #map {
  width: 110%;
  height: 200px;
  bottom: 0;
}
.main-nav ul {
  display: none;
  list-style: none;
  padding: 0;
  top: 50px;
}
.main-nav:hover ul {
  display:block;
}
.main-nav li {
  padding: 0 5% 2% 1%;
  font-size: 1.5em;
}
.main-nav a {
  text-decoration: none;
  padding-right: 50%;
  color: black;
  background-color: #E0E0E0;
  border-radius: 5px;
  border: solid 2px #000066;
}
.subheading {
  padding-left: 2%;
  position: absolute;
  font-size: .8em;
  bottom: 5%;
  width: 70%;
  height: auto;
}

@media only screen and (min-width: 440px) {
  h1 {
    font-size: 2em;
    }
  #burger {
      padding: 0 3% 10% 35%;
    }
  .site-header {
    position: relative;
    width: 100%;
    padding: 0;
  }
  .main-nav ul {
    display: none;
    list-style: none;
    padding: 0;
    top: 50px;
  }
  .main-nav a {
    padding-top: 5px;
  }
  .subheading {
    height: 100%;
    font-size: 1.2em;
    bottom: 5%;
  }
}

@media only screen and (min-width: 529px) {
  header > img {
    max-width: 350px;
  }
  #paw {
    width: 70px;
    height: 0 auto;
    top: 0;
    left: 0;
  }
  #map-wrapper #map {
    opacity: .8;
    width: 110%;
    height: 230px;
    bottom: 15%;
  }
}

@media only screen and (min-width: 650px) {
  h1 {
    font-size: 2.5em;
  }
  article {
    font-size: 1em;
  }
  #burger {
    display: none;
  }
  #map-wrapper #map {
    width: 110%;
    height: 300px;
    bottom: 0;
  }
  .main-nav ul {
    display: block;
    background-color: inherit;
    position: absolute;
    top: 30%;
    padding-top: 5px
  }
  .main-nav li {
    display: inline;
    padding: 0 3px;
    font-size: 1.5em;
  }
  .main-nav a {
    color: black;
    background-color: #E0E0E0;
    display: inline-block;
    padding: 0 5px;
    border-radius: 5px;
    border: solid 2px #000066;
  }
  .subheading {
    font-size: 1.25em;
    bottom: 5%;
  }
}

@media only screen and (min-width: 743px) {
  #question-box {
    width: 80%;
    height: 250%;
  }
  .subheading {
    font-size: 1.25em;
    bottom: 5%;
  }
  .title {
    padding-bottom: 10px;
  }
  .site-header{
    height: 30px;
  }
}
